    <div class="forums content">
        <h2 style="text-align: center; font-size: 3rem;">All Blogs</h2>

        {{#if blogs.length}}
            {{#if logged_in}}
                {{#each blogs}}
                    <div class="forum-container" role="button" aria-controls="myCommentForm{{id}}" >
                        <div class="forum-header">
                            <h3 style="font-size: 2.3rem;">{{title}}</h3>
                        </div>
                            <section class="body">{{body}} </section>
                        {{#each comments}}
                            <section style="border-bottom: 1rem dotted red; margin-top: 1rem;">
                                <p class="text-warning">{{description}}</p><br />
                                <p class="text-warning fst-italic">   --{{user.name}} {{newDate}} </p>
                            </section>
                        {{/each}}
                        <button style="text-align: center;" data-id="myCommentForm{{id}}" onclick=toggleForm(event)>Add a Comment</button>
                    </div>
                    <div class="comment-form" id="myCommentForm{{id}}" style="display: none;">
                        <form action="/comment" method="POST">
                            <textarea name="comment" placeholder="Add a comment" data-id="{{id}}"></textarea>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                {{/each}}
            {{else}}
                {{#each blogs}}
                    <div class="forum-container">
                        <div class="forum-header">
                            <h3 style="font-size: 2.3rem;">{{title}}</h3>
                        </div>
                            <section class="body">{{body}} </section>
                        {{#each comments}}
                            <section style="border-bottom: 0.5rem dotted red; margin-top: 1rem;">
                                <p class="text-warning">{{description}}</p><br />
                                <p class="text-warning fst-italic">   --{{user.name}} {{newDate}} </p>
                            </section>
                        {{/each}}
                    </div>
                {{/each}}
            {{/if}}
        {{/if}}
    </div>


<script>
    function toggleForm(event) {
        const commentId = document.querySelector(`#${event.target.dataset.id}`)
        console.log("target", commentId)
        if (commentId.style.display === "none") {
            commentId.style.display = "block";
        } else {
            commentId.style.display = "none";
        }
        const form = document.querySelectorAll(".comment-form");

    }
</script>
<script src="./js/homepage.js"></script>
